/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {

}

h1,
h2 {
  font-family: "Bangers",cursive;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;

}

h2 {
  text-align:center ;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.row {

  display:flex;
  justify-content: space-between;

}

.col {
  
  border: 2.5px;
  border-style: dashed;
  padding: 10px;
  background-color:lightgray;
  list-style: none;

}

.image {

  height:150px;
  
}
