.centered {
  text-align: center;
  
}
#title {
  font-size: 3rem;
}

#subtitle {
  font-size: 1.5rem;
}

h2{
  font-size: 12px;
}

div {
  background-color: gray;
  font-size:12px;
}


li {
  list-style-type: none;
}

#content {
  text-decoration: underline;
  
}

.monospaced {
  font-family: monospace;
}

h1,
p,
h2,
div {
  background: grey;
  margin: 0;
}
